@use 'src/styles/colors';
.navbar {
  display: flex;
  background-color: colors.$background-primary-color;
  color: colors.$white;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.mobile-div {
  background-color: colors.$background-primary-color;
  top: 80px;
}


